* {
    margin: 0 auto;
    box-sizing: border-box;  
    
}
.title  {
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    text-align: center;
    background: firebrick;   
    
}
.navbar { 
    font-size: 18px;
    color: black;
}
.body {
    background-image: url("../images/Thrawn.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.bio {
    background-image: url("../images/Thrawn3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.navy {
    background-image: url("../images/starwarsbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    text-align: center;
    margin: 200px;
    
}
.top {
    clear: both;
    margin-bottom: 15px;
    text-align: center;
    font-size:35px;
    color: white;
    text-shadow: 2px 2px 7px black;
}

.imageContainer {
    margin: 200px 350px 30px 350px;
    overflow: auto;
}
.card {
    text-align: center;
    background: white;
    border: solid white;
    margin: 30px;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image {
    width: 200px;
    height: 200px;
    float: left;
}
.textcontainer {
    margin: 100px;
    padding: 10px;
    text-align: center;
    background: white;
    font-size: 15px;
    line-height: 22.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    color: firebrick;
    text-shadow: 2px 2px 7px black;
    text-decoration: none;
}

